<%= stylesheet_link_tag '/stylesheets/about.css' %>

<div id="aboutsitetext">
<h2>About this website!</h2>

I created this website and API so that anyone on the web can use the powerful functionality of the Stanford Natural Language Parser. The Stanford Parser takes sentences and determines what part of speech (verb, noun, etc) each word is, and how words are dependent on one another (ex. adjectives are dependent on nouns). For more information on
the Stanford Parser and natural language parsing, go to the <a href='http://nlp.stanford.edu/'> Stanford Computational Linguistics group </a>
website. 
<br />
<br />
If you found this API useful please donate! I am developing this web application entirely on my own, 
so any donations will go directly towards feeding me so that I can keep coding. Thanks!
<br /><br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NJXR9PM7NRF6W">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>

<div id="aboutmepicture">
<img src="/images/Andrew-LeBlanc2.jpg" alt="this is supposed to be a picture of me" />

</div>
<div id="aboutmetext">
<h2>About me!</h2>

Hi, my name is Andrew LeBlanc and I developed this website and API. I am originally from Austin, Texas
but I recently moved to the San Francisco Bay Area. Please feel free to contact me at [ noCrastinate AT gmail DOT com ]
if you have any questions/comments about this site/api, want to talk about programming/development,
or want me to work for your start-up. Thanks!
</div>

