<h2> Using parsed data </h2>

Parsed text is returned in the callback function as a JSON object. The text "go to the store" would be returned as
<br /><br />

<pre>
{
	"words":
	[
		{"value":"go",   "id":0,"tag":"VB"},
		{"value":"to",   "id":1,"tag":"TO"},
		{"value":"the",   "id":2,"tag":"DT"},
		{"value":"store", "id":3,"tag":"NN"}
	]
}
</pre>

<br /> <br />
The JSON object contains an array of words called 'words'. Each word in the array has a value, which represents the text of the word (ie 'go' has a value of 'go'), an id which represents the position in the array of the word (first word is 0, second word is 1, etc), and a tag which represents what part of speech the object is (VB is verb). The tag set used is the <a href="http://www.comp.leeds.ac.uk/amalgam/tagsets/upenn.html">UPenn Tree Bank Tag Set. </a>
<br />
