<h2> HTTP Access (no javascript required) </h2>
If you want to parse data with HTTP in a semi-RESTful manner simply send a GET request to the following address:
<br />
HTTP://www.naturalparsing.com/api/parse?input=[YOURINPUTHERE]&options=httpget&version=0.1
