<h2> HTTP Access (no javascript required) </h2>
If you want to parse data with HTTP in a semi-RESTful manner simply send a GET request to the following address:
<br />
HTTP://www.naturalparsing.com/api/parse?input=[YOURINPUTHERE]&options=none&version=0.1
<br />
Or, if you want to have the parsed sentence returned as a tree object, set options=tree
