<h2>Welcome to the documentation for the web API of the Stanford Natural Language Parser!</h2>

To get started using the Stanford Parser in your javascript read the <%= link_to "Javascript tutorial", :controller => "documentation", :action => "jstutorial" %>
<br />
<br />
To learn how to use HTTP requests to use the Stanford Parser read the <%= link_to "HTTP tutorial", :controller => "documentation", :action => "httptutorial" %>
<br />
<br />
To undestand the JSON object that this API outputs see the section on <%= link_to "data types", :controller => "documentation", :action => "datatypes" %>
<br />
<br />
To see what is currently working and what new features I am developing see the <%= link_to "functionality section", :controller => "documentation", :action => "functionality" %> 
